.sqrip-preview-address{
	max-width: 368px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 15px 10px;
    overflow: hidden;
    background-color: #fff;
}

.sqrip-preview-address > h4{
    margin: 5px 0 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

body.sqrip-loading{
    opacity: 0.5;
    pointer-events: none;
    cursor: wait;
}

.forminp .sqrip-btn-validate{
    margin-left: 10px;
}

.sqrip-notice{
    font-weight: bold;
    display: inline-block;
    line-height: 1;
    height: 25px;
}

table.form-table td .sqrip-notice p{
    margin: 0;
    line-height: 22px;
}

.sqrip-radio-field{
    display: inline-block;
    margin-right: 15px;
}

.sqrip-radio-field input{
    vertical-align: -webkit-baseline-middle;
}

.wp-core-ui .button-secondary.sqrip-btn-send-test-email{
    margin-left: 15px;
}

.sqrip-payment .sqrip-re-generate-qrcode{
    margin-top: 20px;
}

.sqrip-tabs{
    display: flex;
}

.sqrip-tab{
    display: block;
    float: left;
    margin-right: 15px;
    cursor: pointer;
    border-bottom: 3px solid #9b9b9b;
}

.sqrip-tab h2{
    color: #747474;
    margin: 0.7em 0;
}


.sqrip-tab.active{
    border-color: #6558F5;
}

.sqrip-tab.active h2{
    color: #6558F5;
}

.sqrip-tabs-description{
    display: block;
    max-width: 900px;
    margin: 20px 0 10px;
}

/*.sqrip-tabs ~ .form-table tr{
    display: none!important;
}

.sqrip-tabs ~ .form-table tr.active{
    display: table-row!important;
}*/

.button-connect-service{
    background-color: #6558f5;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 6px;
    color: #fff;
    line-height: 1;
    border: 0;
    cursor: pointer;
    margin-top: 5px;
}

.wp-core-ui .button-secondary.sqrip-btn-validate-token{
    margin: 10px 10px 15px 0;
}

table.form-table tr td label[for="woocommerce_sqrip_ebics_service"]{
    color: #6558f5;
    font-weight: 600;
}

table.form-table tr td label[for="woocommerce_sqrip_ebics_service"]:before{
    content: "\f147";
    font: normal 20px/1 dashicons;
    border: 2px solid;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#woocommerce_sqrip_ebics_service{
    display: none;
}